[[source]]
url = "https://pypi.douban.com/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-login = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
bootstrap-flask = "*"
python-dotenv = "*"
pymysql = "*"
flask-migrate = "*"

[dev-packages]
watchdog = "*"

[requires]
python_version = "3.9"
